<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>圣银简介</strong></span></h3>
      <p class="p-indent-black">
        湖南圣银电子商务有限公司是湖南阿凡商品现货交易中心有限公司（以下简称阿凡交易中心）综合类会员单位，会员编号386。公司立足于大宗商品交易市场。除了专注于白银、镍、铜等贵金属的现货交易服务，还包含沥青，矿产品等大宗商品。公司秉承以人为本，以德为先，以业为重，以利共赢的价值观，为投资者提供全面、完善、高效的优质服务。
      </p>
      <p class="p-indent-black">
        用互联网思维服务金融创新，借助"互联网+商品+金融+物流"的发展机遇，本着 "促进商品流通，服务实体经济"为根本宗旨，以规范和引导我国大宗商品交易市场的健康发展为使命，秉承"公平、公开、公正"的原则，将实现汇集资源、提高流通效率的功能，力争成为商品市场体系建设中的龙头和我国商品交易市场行业的标杆，其目标定位是"立足国内、面向全球"，成为交易市场运营模式创新，服务功能齐全、完善，具有国际影响力的"互联网+"交易中心、物流中心、定价中心和信息中心。和阿凡商城一体的多元融合模式，并实现贸易、投资、融资三大交易功能
      </p>
      <p class="p-indent-black">
        新四海商品将以专业的行业服务系统，完善的经营风控体系，致力于打造专业、恒久的投资行业品牌。
      </p>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-md-1">-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<img src="img/index/3.jpg" class="img-responsive img-custom-page">-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<img src="img/index/4.jpg" class="img-responsive img-custom-page">-->
      <!--</div>-->
      <!--<div class="col-md-1">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1">-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<img src="img/index/l4.jpg" class="img-responsive img-custom-page">-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<img src="img/index/l6.jpg" class="img-responsive img-custom-page">-->
      <!--</div>-->
      <!--<div class="col-md-1">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-8 col-md-push-2">-->
        <!--<img src="img/index/2.jpg" class="img-responsive img-custom-page">-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="col-md-2"></div>
</div>