<div class="content-afjj">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="row">
      <h3 class="h-title"><span>阿凡</span>简介</h3>
      <p class="p-indent">
        阿凡交易中心创始人用互联网思维服务金融创新，借助"互联网+商品+金融+物流"的发展机遇，本着"促进商品流通，服务实体经济"为根本宗旨，以规范和引导我国大宗商品交易市场的健康发展为使命，秉承"公平、公开、公正"的原则，将实现汇集资源、提高流通效率的功能，力争成为商品市场体系建设中的龙头和我国商品交易市场行业的标杆，其目标定位是"立足国内、面向全球"，成为交易市场运营模式创新，服务功能齐全、完善，具有国际影响力的"互联网+"交易中心、物流中心、定价中心和信息中心......
      </p>
      <a href="#" class="a-more">更多</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6">
        <img src="img/index/3.jpg" class="img-responsive img-custom">
      </div>
      <div class="col-md-6">
        <img src="img/index/4.jpg" class="img-responsive img-custom">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="img/index/2.jpg" class="img-responsive img-custom-2">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="content-aflssyb">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title title-gray"><span>阿凡</span>连售事业部</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="img/index/l1.jpg" class="img-responsive img-custom-3" ng-click>
      </div>
      <div class="col-md-3">
        <img src="img/index/l2.jpg" class="img-responsive img-custom-3" ngMouseover>
      </div>
      <div class="col-md-3">
        <img src="img/index/l3.jpg" class="img-responsive img-custom-3">
      </div>
      <div class="col-md-3">
        <img src="img/index/l4.jpg" class="img-responsive img-custom-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="img/index/l5.jpg" class="img-responsive img-custom-3">
      </div>
      <div class="col-md-3">
        <img src="img/index/l6.jpg" class="img-responsive img-custom-3">
      </div>
      <div class="col-md-3">
        <img src="img/index/l7.jpg" class="img-responsive img-custom-3">
      </div>
      <div class="col-md-3">
        <img src="img/index/l8.jpg" class="img-responsive img-custom-3">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<!--<div class="col-md-12">-->
  <!--<img src="index/1.jpg">-->
<!--</div>-->
<!--<section class="content-header">-->
  <!--<h1>-->
    <!--Dashboard-->
    <!--<small>Version 2.0</small>-->
  <!--</h1>-->
  <!--<ol class="breadcrumb">-->
    <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
    <!--<li class="active">Dashboard</li>-->
  <!--</ol>-->
<!--</section>-->
<!--<dashboard></dashboard>-->
