<header class="main-header">

  <div class="shadeDiv"></div>
  <a href="/" class="logo">
    <!--<span class="logo-mini"><b>A</b>LT</span>-->
    <!--<span class="logo-lg"><b>Admin</b>LTE</span>-->
  </a>
  <nav class="navbar navbar-static-top">
    <div class="menu-list">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            首页
          </a>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            关于阿凡
          </a>
          <ul class="dropdown-menu dropdown-menu-1">
            <!--<li class="header">You have 10 notifications</li>-->
            <li class="user-body user-body-1">
              <div class="row">
                <div class="col-xs-2 text-center">
                  <a ui-sref="app.about.afjj">阿凡简介</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a ui-sref="app.about.afsj">阿凡事件</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">企业文化</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">领导关怀</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">阿凡连售事业部</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">股东背景</a>
                </div>
              </div>
            </li>
            <!--<li class="footer"><a href="#">View all</a></li>-->
          </ul>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            相关视频
          </a>
          <ul class="dropdown-menu dropdown-menu-1" uib-dropdown-menu>
            <!--<li class="header">You have 10 notifications</li>-->
            <li class="user-body user-body-1">
              <div class="row">
                <div class="col-xs-2 text-center">
                  <a href="#">企业视频</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">阿商所专访视频</a>
                </div>
              </div>
            </li>
            <!--<li class="footer"><a href="#">View all</a></li>-->
          </ul>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            关于商品
          </a>
          <ul class="dropdown-menu dropdown-menu-1" uib-dropdown-menu>
            <!--<li class="header">You have 10 notifications</li>-->
            <li class="user-body user-body-1">
              <div class="row">
                <div class="col-xs-2 text-center">
                  <a href="#">上市品种</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">阿凡商品信息</a>
                </div>
              </div>
            </li>
            <!--<li class="footer"><a href="#">View all</a></li>-->
          </ul>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            合作机构
          </a>
          <ul class="dropdown-menu dropdown-menu-1">
            <!--<li class="header">You have 10 notifications</li>-->
            <li class="user-body user-body-1">
              <div class="row">
                <div class="col-xs-2 text-center">
                  <a href="#">e胜网</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">银行监管</a>
                </div>
                <div class="col-xs-2 text-center">
                  <a href="#">产业支撑</a>
                </div>
              </div>
            </li>
            <!--<li class="footer"><a href="#">View all</a></li>-->
          </ul>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            交易软件下载
          </a>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            讲师团队
          </a>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            直播室
          </a>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            关于招商
          </a>
          <ul class="dropdown-menu dropdown-menu-1">
            <!--<li class="header">You have 10 notifications</li>-->
            <li class="user-body user-body-1">
              <div class="row">
                <div class="col-xs-3 text-center">
                  <a href="#">阿凡招商优势</a>
                </div>
                <div class="col-xs-3 text-center">
                  <a href="#">阿凡招商奖励政策</a>
                </div>
                <div class="col-xs-3 text-center">
                  <a href="#">加盟流程</a>
                </div>
              </div>
            </li>
            <!--<li class="footer"><a href="#">View all</a></li>-->
          </ul>
        </li>
        <li class="dropdown notifications-menu" uib-dropdown>
          <a href="#" class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
            展会
          </a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<div class="content-header-img"></div>
